.app {
	height: 100%;
	display: flex;
	overflow: auto;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #373056;
	color: white;
	transition: background-color 2s ease 1s, color 2s ease 1s;
}

.weather-details {
	text-align: center;
	text-transform: uppercase;
}

.weather-details .city {
	font-size: 24px;
	margin-bottom: 1rem;
}

.weather-details .temperature {
	font-size: 48px;
	margin-bottom:15px;
}

.widget{
	display: flex;
	flex-direction: column;
	margin:50px;
}